.primary{
    color:#186A3B;
}
.fb{
    color:darkblue;
}
#IG{
    color:purple;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex; 
    /* 彈性容器 */
    flex-wrap: wrap;
}
.intro-bloack .row{
    align-items: center;
}
.avatar{
    width:20%;
}
.avatar img{
    width:90%;
    border-radius:60%;
}
.content{
    width: 80%;
}
.contact ul{
    list-style:none;
    padding:0;
}
.contact>ul li{
    display: inline;
    padding: 0 5px;
}
.body.horizontal{
    align-items: center;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.horizontal{
    display:flex;
    flex-wrap: wrap;
    padding-left: 10pt;
}
.description{
    width:80%;
}
.time{
    width:20%;
}
p1{
    color:grey;
    opacity: 70%;
    font-size: 15pt;
    font-weight: bolder;
}
